<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_name"><strong><%= comment.commenter %></strong></p>
    <p class="comment_body"><%= comment.body %></p>
    <small class="comment_time">...............................................................<%= time_ago_in_words(comment.created_at) %> ago by <%= comment.username if comment.username %></small>
    
    
    
  </div>
  
  
  
  <p>
    <% if logged_in? && (current_user.username == comment.username || current_user.admin?) %>
      <%= link_to 'Delete Comment', [comment.article,comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
    <% end %>
  </p>
</div>
<hr>
