<h1 align="center">All Wormbloggers</h1>
<style>
.panel, .flip {
    box-shadow: 10px 10px 5px #888888;
    padding: 5px;
    text-align: center;
    background-color: yellow;
    border: solid 2px orange;
}
.flip {

    border-radius: 5px;
    cursor: pointer;    
}
.panel {
    padding: 50px;
    display: none;
}

.well {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}
</style>

<script>
$(document).ready(function(){
    $(".flip").click(function(){
        $(this).next().slideToggle("slow");
    });
});
</script>

<div align="center">

    <%= will_paginate %>

    <% @users.each do |user| %>
        <ul class="listing">
            <div class="row">
                <div class="well col-md-6 col-md-offset-3">
                    <li class="round-image-100"><%= link_to image_tag(user.avatar.url(:thumb)), user_path(user) %></li>
                    <li class="article-title"><%= link_to user.username, user_path(user) %></li>
                    <% if user.email_confirmed?  %>
                        <li>activated</li>
                    <% else %>
                        <li>not activated</li>
                    <% end %>
                    <% if logged_in? and current_user.admin? && !user.admin?%>
                        <li><%= link_to "Delete the user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user and all his/her articles?"} %></li>
                    <% end %>
                    <div class="flip">User Profile</div>
                    <div class="panel">
                        <small>This user possesses <%= pluralize(user.articles.count, "article") if user.articles %></small>
                        <br>
                        <small>Became a wormblogger on <%= user.created_at %> </small>
                        <small></small>
                        <small></small>
                    </div>
                </div>
            </div>        
        </ul>
    <% end %>
    <%= will_paginate %>
</div>
