<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<button type="button" class="btn btn-xs btn-success"><%= link_to 'See his/her profile', :controller => 'users', :action => 'info' %></button>
<!-- <span><button type="button" class="btn btn-xs btn-info"><%= link_to 'See his/her profile', :controller => 'users', :action => 'info' %></button></span> -->
<div align="center">
    <p class="round-image-100"><%= image_tag(@user.avatar.url(:thumb)) %></p>
</div>
<br>

<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <%= gravatar_for @user, size: 155 %>
    </div>
</div>
<br>
<h4 align="center"><%= @user.username %>'s articles</h4>
<div class="center">
    <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="center">
    <%= will_paginate @user_articles %>
</div>

<!-- <%= link_to "mail test", :controller => 'users', :action => 'mail' %> -->